configuration {
    terminal: "alacritty";
    modi: "drun,window,run";
    icon-theme: "Papirus";
    show-icons: true;
    font: "Ubuntu Nerd Font 12";
}
@theme "/usr/share/rofi/themes/Monokai.rasi"
