@import "mocha.css";

* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: RobotoMono Nerd Font Mono;
    font-size: 13px;
}

#window {
	background-color: shade(@surface1, 0.9);
	color: @text;
	padding-left: 25px;
	padding-right: 25px;
	border: 1px solid alpha(shade(@mantle, 0.8), 0.4);
	border-radius: 5px;
}

window#waybar {
    background-color: shade(@base, 0.9);
    border: 2px solid alpha(@crust, 0.5);
    color: @text;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

button {
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;
    /* Avoid rounded borders under each button name */
    border: none;
    border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
    background: inherit;
    box-shadow: inset 0 -3px @lavender;
}

#tags button {
    padding: 0 5px;
    background-color: transparent;
    color: @text;
}

#tags button:hover {
    background: alpha(@overlay0, 0.2);
	border: 1px solid alpha(@mantle, 0.2);
}

#tags button.occupied {
    background-color: @surface0;
}

#tags button.focused {
    background-color: @surface1;
	border: 2px solid alpha(@mantle, 0.5);
    box-shadow: inset 0 -3px @sky;
}

#tags button.urgent {
    background-color: @red;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#mpd {
    padding: 0 10px;
    color: #ffffff;
}

#window,
#tags {
    margin: 0 4px;
}

/* If tags is the leftmost module, omit left margin */
.modules-left > widget:first-child > #tags {
    margin-left: 0;
}

/* If tags is the rightmost module, omit right margin */
.modules-right > widget:last-child > #tags {
    margin-right: 0;
}

#clock {
    background-color: @blue;
	color: @surface1;
}

#battery {
    background-color: @green;
    color: @surface1;
}

#battery.charging, #battery.plugged {
    color: @surface1;
    background-color: @flamingo;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

#battery.critical:not(.charging) {
    background-color: @red;
    color: @text;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {
    background-color: #000000;
}

#cpu {
    background-color: @yellow;
    color: @surface1;
}

#memory {
    background-color: @sapphire;
	color: @surface1;
}

#disk {
    background-color: #964B00;
}

#backlight {
    background-color: @teal;
	color: @surface1;
}

#network {
    background-color: @lavender;
	color: @surface1;
}

#network.disconnected {
    background-color: @red;
	color: @text;
}

#pulseaudio {
    background-color: @pink;
    color: @surface1;
}

#pulseaudio.muted {
    background-color: @pink;
    color: @surface1;
}

#wireplumber {
    background-color: @pink;
    color: @surface1;
}

#wireplumber.muted {
    background-color: #f53c3c;
}

#custom-media {
    background-color: #66cc99;
    color: #2a5c45;
    min-width: 100px;
}

#custom-media.custom-spotify {
    background-color: #66cc99;
}

#custom-media.custom-vlc {
    background-color: #ffa000;
}

#temperature {
    background-color: @peach;
	color: @surface1;
}

#temperature.critical {
    background-color: @red;
	color: @surface1;
}

#tray {
    background-color: #2980b9;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}

#idle_inhibitor {
    background-color: #2d3436;
}

#idle_inhibitor.activated {
    background-color: #ecf0f1;
    color: #2d3436;
}

#mpd {
    background-color: #66cc99;
    color: #2a5c45;
}

#mpd.disconnected {
    background-color: #f53c3c;
}

#mpd.stopped {
    background-color: #90b1b1;
}

#mpd.paused {
    background-color: #51a37a;
}

#language {
    background: #00b093;
    color: #740864;
    padding: 0 5px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state {
    background: #97e1ad;
    color: #000000;
    padding: 0 0px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state > label {
    padding: 0 5px;
}

#keyboard-state > label.locked {
    background: rgba(0, 0, 0, 0.2);
}

#scratchpad {
    background: rgba(0, 0, 0, 0.2);
}

#scratchpad.empty {
	background-color: transparent;
}
